<header id="main-header">
  <div id="logo">
    <a href="/">마이블로그</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/posts">모든 글</a>
      </li>
      <li>
        <a href="/new-post">작성하기</a>
      </li>
    </ul>
  </nav>
</header>