<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: '작성하기' }) %>
  <link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>새 게시물</h1>
    <form action="/posts" method="POST">
      <div class="form-control">
        <label for="title">제목</label>
        <input type="text" id="title" name="title" required>
      </div>
      <div class="form-control">
        <label for="summary">요약</label>
        <input type="text" id="summary" name="summary" required maxlength="255">
      </div>
      <div class="form-control">
        <label for="content">글 내용</label>
        <textarea id="content" name="content" required rows="5"></textarea>
      </div>
      <div class="form-control">
        <label for="author">저자 선택</label>
        <select id="author" name="author">
          <% for (const author of authors) { %>
              <option value=<%= author.id %>><%= author.name %></option>
          <% } %>
        </select>
      </div>
      <button class="btn">저장하기</button>
    </form>
  </main>
</body>

</html>