<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'MyBlog : 전체 게시글' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="all-posts">
    <h1>전체 게시글 (<%= posts.length %>)</h1>
    <% if (posts.length === 0) { %>
      <h3> 게시글이 없습니다 - 첫 게시글을 작성해 보세요! :D</h3>
      <a href="/new-post">글 작성하기</a>
    <% } else { %>
      <% for (const post of posts) { %>
        <ol id="posts-list">
          <li>
            <%- include('includes/post-item', { post }) %>
          </li>
        </ol>
      <% } %>
    <% } %>
  </main> 
</body>

</html>