<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: '전체 글 보기' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="all-posts">
    <h1>전체 글 ()</h1>
  </main> 
</body>

</html>